#mainFormPane2VehicleReportForm{
    -fx-background-color: #f3fff5;
}

.vehicleReportFormTable{
    -fx-border-color: lime;
}

.vehicleReportFormButton{
    -fx-background-color: #1a3b10;
    -fx-text-fill: #f3fff5;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.vehicleReportFormButton:hover{
    -fx-effect: dropshadow(three-pass-box, rgb(4, 210, 246),10,0.5,0,0);
}

.vehicleReportFormButton:pressed{
    -fx-effect: dropshadow(three-pass-box, rgb(15, 7, 246),10,0.5,0,0);
}